{% extends 'base.html' %}
{% load static %}

{% block main %}

    <!-- google map start -->
    <div class="map-area section-padding">
        <div id="google-map"></div>
    </div>
    <!-- google map end -->

    <!-- contact area start -->
    <div class="contact-area section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-message">
                        <h4 class="contact-title">Tell Us Your Project</h4>
                        <form id="formContact" class="contact-form" autocomplete="off">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input id="inputContactName" placeholder="Name *" type="text" required>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input id="inputContactPhone" placeholder="Phone *" type="text" required>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input id="inputContactEmail" placeholder="Email *" type="email" required>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input id="inputContactSubject" placeholder="Subject *" type="text">
                                </div>
                                <div class="col-12">
                                    <div class="contact2-textarea text-center">
                                        <textarea placeholder="Message *" id="textareaContactMessage" class="form-control2" required=""></textarea>
                                    </div>
                                    <div class="contact-btn">
                                        <a class="btn btn-sqr text-white" id="btnContactSubmit">
                                            <i class="fa fa-envelope mr-1"></i> Send Message
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-center">
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="contact-info">
                        <h4 class="contact-title">Contact Us</h4>
                        <p>
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
                            est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum
                            formas human.
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-fax"></i> Address: {{ company.address }}
                            </li>
                            <li>
                                <i class="fa fa-phone"></i> E-mail: {{ company.email }}
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i> Phone: {{ company.phone }}
                            </li>
                        </ul>
                        <div class="working-time">
                            <h6>Working Hours</h6>
                            <p>
                                <span>Wednesday – Sunday: </span> 10AM – 7PM
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area end -->

{% endblock %}

{% block script %}

    <script>
        function initMap() {
            let location = {
                lat: {{ company.latitud }},
                lng: {{ company.longitud }}
            };
            let map = new google.maps.Map(document.getElementById('google-map'), {
                zoom: 17,
                center: location
            });
            let marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv0huDSi_DW5YKWNayPS0BIEj0nfSFc6Y&callback=initMap"></script>

    <script>
        $(function () {

            $("#btnContactSubmit").click(function () {
                let elem = $(this);
                let spinnerText = "<i class='fa fa-circle-o-notch fa-spin'></i> Sending Message ...";
                let originalText = elem.html();

                let c_name = $("#inputContactName").val();
                let c_email = $("#inputContactEmail").val();
                let c_phone = $("#inputContactPhone").val();
                let c_subject = $("#inputContactSubject").val();
                let c_message = $("#textareaContactMessage").val();

                if (c_name && c_email && c_phone && c_subject && c_message){

                    // send to server
                    $.ajax({
                        type: "POST",
                        url: "/contact",
                        data: {
                            'name': c_name,
                            'email': c_email,
                            'phone': c_phone,
                            'subject': c_subject,
                            'message': c_message
                        },
                        dataType: 'json',
                        beforeSend: function (){
                            elem.addClass('disabled').html(spinnerText);
                        },
                        success: function (response) {
                            if (response.result === 'ok'){
                                alertify.success(response.message);
                                $("#formContact").trigger('reset');
                            }else{
                                alertify.error(response.message);
                            }
                        },
                        complete: function (){
                            elem.removeClass('disabled').html(originalText);
                        },
                        error: function () {
                            elem.removeClass('disabled').html(originalText);
                            alertify.error('Server Error');
                        },
                    });
                }else{
                    alertify.error("Missing required fields");
                }

            });

        });
    </script>
{% endblock %}
