{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load extras %}

{% block main %}

    <div class="shop-main-wrapper section-padding">
        <div class="container">
            <div class="row">

                <!-- Menu Filters -->
                <div class="col-lg-3 order-2 order-lg-1">
                    <aside class="sidebar-wrapper">

                        <!-- Categories Filter -->
                        <div class="sidebar-single">
                            <h5 class="sidebar-title">Categories</h5>
                            <div class="sidebar-body">
                                <ul class="checkbox-container categories-list">
                                    {% for category in categories %}
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="checkboxCategories custom-control-input" cid="{{ category.id }}" id="checkboxCategory_{{ category.id }}" {% if category.id in category_ids %}checked{% endif %} />
                                                <label class="custom-control-label" for="checkboxCategory_{{ category.id }}">
                                                   {{ category }} ({{ category.count_of_available_products|floatformat:0 }})
                                                </label>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- Categories Filter end -->

                        <!-- Materials Filter -->
                        <div class="sidebar-single">
                            <h5 class="sidebar-title">Material</h5>
                            <div class="sidebar-body">
                                <ul class="checkbox-container categories-list">
                                    {% for material in materials %}
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="checkboxMaterials custom-control-input" mid="{{ material.id }}" id="checkboxMaterial_{{ material.id }}" {% if material.id in material_ids %}checked{% endif %}>
                                                <label class="custom-control-label" for="checkboxMaterial_{{ material.id }}">
                                                    {{ material }} ({{ material.count_of_available_products|floatformat:0 }})
                                                </label>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- Materials Filter end -->

                        <!-- Genders Filter -->
                        <div class="sidebar-single">
                            <h5 class="sidebar-title">Gender</h5>
                            <div class="sidebar-body">
                                <ul class="checkbox-container categories-list">
                                    {% for gender in genders %}
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="checkboxGenders custom-control-input" gid="{{ gender.id }}" id="checkboxGender_{{ gender.id }}" {% if gender.id in gender_ids %}checked{% endif %}>
                                                <label class="custom-control-label" for="checkboxGender_{{ gender.id }}">
                                                    {{ gender }} ({{ gender.count_of_available_products|floatformat:0 }})
                                                </label>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- Genders Filter end -->

                        <!-- Prices Filter -->
                        <div class="sidebar-single">
                            <h5 class="sidebar-title">Price</h5>
                            <div class="sidebar-body">
                                <div class="price-range-wrap">
                                    <div class="price-range" data-min="1" data-max="1000"></div>
                                    <div class="range-slider">
                                        <div class="price-input">
                                            <label for="amount">Price: </label>
                                            <input type="text" id="amount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Price Filter -->

                        <!-- Genders Filter -->
                        <div class="sidebar-single">
                            <h5 class="sidebar-title">Condition</h5>
                            <div class="sidebar-body">
                                <ul class="checkbox-container categories-list">
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkboxIsNew">
                                            <label class="custom-control-label" for="checkboxIsNew">New ({{ company.count_of_available_new_products|floatformat:0 }})</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkboxIsFeatured">
                                            <label class="custom-control-label" for="checkboxIsFeatured">Featured ({{ company.count_of_available_featured_products|floatformat:0 }})</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkboxIsBestSeller">
                                            <label class="custom-control-label" for="checkboxIsBestSeller">Best Seller ({{ company.count_of_available_bestseller_products|floatformat:0 }})</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Genders Filter end -->

                        <!-- single sidebar start -->
                        <div class="sidebar-banner">
                            <div class="img-container">
                                <a href="#">
                                    <img src="{% static 'img/banner/sidebar-banner.jpg' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- single sidebar end -->
                    </aside>
                </div>
                <!-- sidebar area end -->

                <!-- PRODUCTS Main Wrapper  -->
                <div class="col-lg-9 order-1 order-lg-2">
                    <div id="divProductsContainer" class="shop-product-wrapper">

                        <!-- shop product top wrap start -->
                        <div class="shop-top-bar">
                            <div class="row align-items-center">
                                <div class="col-lg-7 col-md-6 order-2 order-md-1">
                                    <div class="top-bar-left">
                                        <div class="product-view-mode">
                                            <a href="javascript:void(0);" class="active" data-target="grid-view" data-toggle="tooltip" title="Grid View">
                                                <i class="fa fa-th"></i>
                                            </a>
                                            <a href="javascript:void(0);" data-target="list-view" data-toggle="tooltip" title="List View">
                                                <i class="fa fa-list"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-6 order-1 order-md-2">
                                    <div class="top-bar-right">
                                        <div class="product-short">
                                            <label for="selectSortBy" class="mr-1">Sort By : </label>
                                            <select id="selectSortBy" class="nice-select" name="sortby">
                                                <option value="1">Name (A - Z)</option>
                                                <option value="2">Name (Z - A)</option>
                                                <option value="3">Price: Low to High</option>
                                                <option value="4">Price: High to Low</option>
                                                <option value="5">Newest Arrivals</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- shop product top wrap start -->

                        <!-- Product List Wrapper start -->
                        <div class="shop-product-wrap grid-view row mbn-30">

                            {% for product in products %}
                                <div class="col-md-4 col-sm-6">

                                    <!-- Grid item -->
                                    {% include 'site/includes/product_component_gridview.html' %}
                                    <!-- Grid item end -->

                                    <!-- List item -->
                                    {% include 'site/includes/product_component_listview.html' %}
                                    <!-- List item end -->

                                </div>
                            {% endfor %}

                        </div>
                        <!-- Product List Wrapper end -->

                        <!-- start pagination area -->
                        <div class="paginatoin-area text-center">
                            <ul class="pagination-box">
                                <li><a class="previous" href="#"><i class="pe-7s-angle-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a class="next" href="#"><i class="pe-7s-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- end pagination area -->

                    </div>
                </div>
                <!-- PRODUCTS Main Wrapper end -->

            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>

        let checkboxCategories = $(".checkboxCategories");
        let checkboxMaterials = $(".checkboxMaterials");
        let checkboxGenders = $(".checkboxGenders");

        $(function () {

            let apply_filters = function(){

                // categories ids
                let categories_ids = '';
                checkboxCategories.each(function () {
                    if ($(this).is(':checked')){
                        categories_ids += $(this).attr('cid') + ",";
                    }
                });
                if (categories_ids.length > 0){
                    categories_ids = categories_ids.substring(0, categories_ids.length-1);
                }

                // materials ids
                let materials_ids = '';
                checkboxMaterials.each(function () {
                    if ($(this).is(':checked')){
                        materials_ids += $(this).attr('mid') + ",";
                    }
                });
                if (materials_ids.length > 0){
                    materials_ids = materials_ids.substring(0, materials_ids.length-1);
                }

                // gender ids
                let genders_ids = '';
                checkboxGenders.each(function () {
                    if ($(this).is(':checked')){
                        genders_ids += $(this).attr('gid') + ",";
                    }
                });
                if (genders_ids.length > 0){
                    genders_ids = genders_ids.substring(0, genders_ids.length-1);
                }

                location.href = "{% url 'products' %}?c="+categories_ids+"&m="+materials_ids+"&g="+genders_ids;

            };

            // Categories
            checkboxCategories.click(apply_filters);
            // Materials
            checkboxMaterials.click(apply_filters);
            // Genders
            checkboxGenders.click(apply_filters);

            // hide loader once page is loaded
            setTimeout(function () {
                $('#divLoader').fadeOut(200);
            }, 500);

        });
    </script>
{% endblock %}