{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block main %}

    <div class="shop-main-wrapper section-padding pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 order-1 order-lg-2">
                    <!-- product details inner end -->
                    {% include 'site/includes/product-details-inner.html' %}
                    <!-- product details inner end -->
                </div>
            </div>
        </div>
    </div>

    <!-- Reviews and Information start -->
    <div class="container section-padding">
        <div class="product-details-reviews pb-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-review-info">
                        <ul class="nav review-tab">
                            <li>
                                <a class="active" data-toggle="tab" href="#tabInformation">
                                    More Information
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tabReviews">
                                    Reviews ({{ product.count_of_reviews|floatformat:0 }})
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content reviews-tab">
                            <div class="tab-pane fade show active" id="tabInformation">
                                {% if not product.information %}
                                    <p class="font-14">NO INFO</p>
                                {% else %}
                                    {{ product.information }}
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="tabReviews">
                                <div class="total-reviews">
                                    {% for review in product.get_reviews %}
                                        <div class="review-box">
                                            <div class="ratings">
                                                <span class="good"><i class="fa fa-star"></i></span>
                                                <span class="good"><i class="fa fa-star"></i></span>
                                                <span class="good"><i class="fa fa-star"></i></span>
                                                <span class="good"><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </div>
                                            <div class="post-author">
                                                <p>{{ review.user.first_name }} {{ review.user.last_name }}</p>
                                                <p class="font-11" style="margin-top: -0.5em">
                                                    {{ review.created_at|date:'m/d/Y' }} {{ review.created_at|date:'H:i' }}
                                                </p>
                                            </div>
                                            <p>{{ review.review }}</p>
                                        </div>
                                    {% empty %}
                                        <div class="review-box">
                                            <p class="font-14 text-center">
                                                <b>NO REVIEWS YET</b>
                                            </p>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- New Review Form -->
                                <div class="container">
                                    <div class="form-group row">
                                        <div class="col">
                                            <label for="textAreaReview" class="col-form-label">
                                                <h6>New Review</h6>
                                            </label>
                                            <textarea id="textAreaReview" class="form-control font-14" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col">
                                            <label class="col-form-label">
                                                <h6>Rating</h6>
                                            </label>
                                            <br/>
                                            <input type="radio" value="1" name="inputRating" class="tt mr-2" title="Bad" style="width: 20px; height: 20px;">
                                            <input type="radio" value="2" name="inputRating" class="tt mr-2" title="Regular" style="width: 20px; height: 20px;">
                                            <input type="radio" value="3" name="inputRating" class="tt mr-2" title="Good" style="width: 20px; height: 20px;">
                                            <input type="radio" value="4" name="inputRating" class="tt mr-2" title="Very Good" style="width: 20px; height: 20px;">
                                            <input type="radio" value="5" name="inputRating" class="tt" title="Excellent" checked style="width: 20px; height: 20px;">
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <a id="btnSubmitReview" class="btn btn-sqr text-white" pid="{{ product.id }}">
                                            Submit Review
                                        </a>
                                    </div>
                                </div>
                                <!-- New Review Form end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Reviews end -->

    <!-- Related Products start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- section title start -->
                <div class="section-title text-center">
                    <h2 class="title">Related Products</h2>
                    <p class="sub-title">Add related products to weekly lineup</p>
                </div>
                <!-- section title start -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-carousel-4 slick-row-10 slick-arrow-style">
                    {% for related_product in related_products %}
                        {% include 'site/includes/product_component1.html' with product=related_product %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Related Products end -->

{% endblock %}

{% block script %}
    <script>
        $(function () {

            $("#btnSubmitReview").click(function () {
                let elem = $(this);
                let pid = elem.attr('pid');
                let spinnerText = "<i class='fa fa-circle-o-notch fa-spin'></i> Submitting Review ...";
                let originalText = elem.html();

                let textAreaReview = $("#textAreaReview");
                let review = textAreaReview.val();
                let rating = $('input[name=inputRating]:radio:checked').val();
                if (review && rating){
                    $.ajax({
                        type: "POST",
                        url: "/products/"+pid+"/reviews",
                        data: {
                            "review": review,
                            "rating": rating,
                        },
                        dataType: 'json',
                        beforeSend: function (){
                            elem.addClass('disabled').html(spinnerText);
                        },
                        success: function (response) {
                            if (response.result === 'ok'){
                                textAreaReview.val('');
                                alertify.success(response.message);
                                location.reload();
                            }else{
                                alertify.error(response.message);
                            }
                        },
                        complete: function (){
                            elem.removeClass('disabled').html(originalText);
                        },
                        error: function () {
                            elem.removeClass('disabled').html(originalText);
                            alertify.error('Server Error');
                        },
                    });
                }else{
                     alertify.error('Please write a review before submit');
                }
            });
        });

    </script>
{% endblock %}