.idea/
.idea/*

sabadiaz/settings.py
/sabadiaz/settings.py
sabadiaz/.settings.py.swp

**/__pycache__/

media/
media/*

static/admin/
static/admin/
static/rest_framework/
static/rest_framework_docs/

*.swp
sabadiaz/__init__.pyc
sabadiaz/settings.pyc

# MacOS
*.DS_Store
tests/*

venv/
venv/*
