{% extends 'administration/base.html' %}
{% load static %}
{% load humanize %}


{% block admin_content %}

    <!-- Heading -->
    <div class="row mt-2">
        <div class="col-10">
            <h4>{% if product %}Edit{% else %}Add{% endif %} Product</h4>
        </div>
        <div class="col-2 text-right text-white font-14">
            <a href="javascript:void(0);" onclick="PRODUCTS.submit($(this), {% if product %}{{ product.id }}{% else %}0{% endif %});" class="btn btn-success text-center">
                Save
            </a>
        </div>
    </div>

    <form id="formProduct" enctype="multipart/form-data">
        <div class="row mt-2">
            <!-- Left Side -->
            <div class="col-8">

                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputTitle" class="font-14">Title</label>
                            <input id="inputTitle" type="text" class="form-control font-12" value="{{ product.title }}">
                        </div>
                        <div class="form-group">
                            <label for="inputDescription" class="font-14">Description</label>
                            <input  id="inputDescription" type="text" class="form-control font-12" value="{{ product.description }}" />
                        </div>
                        <div class="form-group">
                            <label for="textareaInformation" class="font-14">Information</label>
                            <textarea id="textareaInformation" class="form-control font-12" style="resize: none" rows="2">{{ product.information }}</textarea>
                        </div>
                    </div>
                </div>

                <!-- Images upload -->
                <div class="card border-0 shadow mt-4" style="height: 360px">
                    <div class="card-body mt-2">

                        {% if product %}
                            <div class="form-group">
                                <div class="row text-center">
                                    {% for elem in product.get_images_list %}
                                        <div class="col-4 {% if forloop.counter == 4 or forloop.counter == 5 or forloop.counter == 6 %}mt-4{% endif %}">
                                            <figure class="figure">
                                                <figcaption class="figure-caption text-center">
                                                    <p class="font-12 text-dark _600 no-line-height">Image {{ forloop.counter }}</p>
                                                </figcaption>
                                                {% if not elem.is_static %}
                                                    <a onclick="PRODUCTS.remove_image('{{ forloop.counter }}', '{{ product.id }}')" href="javascript:void(0);" class="btnRemoveImage text-danger tt" title="Remove" style="position: absolute">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                {% endif %}
                                                <a href="javascript:void(0);" class="btnEditImage" iid="{{ forloop.counter }}">
                                                    <img src="{{ elem.image_url }}" class="figure-img img-fluid rounded" alt="product_image{{ forloop.counter }}" style="width: 110px; height: 110px">
                                                </a>
                                            </figure>
                                            <input id="uploadImage_{{ forloop.counter }}" class="inputImages" onchange="PRODUCTS.update_image('{{ forloop.counter }}', '{{ product.id }}');" type="file" style="display: none"/>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        {% else %}

                            <div class="custom-file-container" data-upload-id="divUploadID">
                                <label class="font-11">
                                    Clear All Files
                                    <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </label>
                                <label class="custom-file-container__custom-file">
                                    <input type="file" id="inputFiles" class="custom-file-container__custom-file__custom-file-input" accept="image/*" multiple aria-label="Choose Files">
                                    <input type="hidden" name="MAX_FILE_SIZE" value="2097152" /> <!-- 10485760 (10MB) -->
                                    <span class="custom-file-container__custom-file__custom-file-control font-12"></span>
                                </label>
                                <div class="custom-file-container__image-preview"></div>
                            </div>
                        {% endif %}

                    </div>
                </div>

            </div>

            <!-- Right Side -->
            <div class="col-4">
                <div class="card border-0 shadow">
                    <div class="card-body font-14">
                        <div class="form-group">
                            <label for="selectCategory">Category</label>
                            <select id="selectCategory" class="selectpicker show-tick form-control" data-style="btn-primary">
                                {% for category in categories %}
                                    <option value="{{ category.id }}" {% if product.category.id == category.id %}selected{% endif %}>
                                        {{ category }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="selectGender">Gender</label>
                            <select id="selectGender" class="selectpicker show-tick form-control" data-style="btn-primary">
                                {% for gender in genders %}
                                    <option value="{{ gender.id }}" {% if product.gender.id == gender.id %}selected{% endif %}>
                                        {{ gender }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="selectMaterial">Material</label>
                            <select id="selectMaterial" class="selectpicker show-tick form-control" data-style="btn-primary">
                                {% for material in materials %}
                                    <option value="{{ material.id }}" {% if product.material.id == material.id %}selected{% endif %}>
                                        {{ material }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card border-0 shadow mt-4">
                    <div class="card-body font-14">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="inputPrice">Real Price</label>
                                    <input  id="inputPrice" type="text" class="form-control" value="{% if not product %}0.00{% else %}{{ product.price|floatformat:2|intcomma }}{% endif %}">
                                </div>
                                <div class="col-6">
                                    <label for="inputVPrice">Virtual Price</label>
                                    <input id="inputVPrice" type="text" class="form-control" value="{% if not product %}0.00{% else %}{{ product.v_price|floatformat:2|intcomma }}{% endif %}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="inputStock">Stock</label>
                                    <input id="inputStock" type="text" class="form-control" value="{% if not product %}0{% else %}{{ product.stock|floatformat:0|intcomma }}{% endif %}">
                                </div>
                                <div class="col-6">
                                    <label for="inputDiscount">% Discount</label>
                                    <input id="inputDiscount" type="text" class="form-control" value="{% if not product %}0{% else %}{{ product.p_discount|floatformat:0|intcomma }}{% endif %}">
                                </div>
                            </div>
                        </div>

                        <div class="form-check mt-1">
                            <input id="checkboxIsNew" type="checkbox" class="form-check-input big-checkbox" {% if product.is_new %}checked{% endif %}>
                            <label class="form-check-label m-2" for="checkboxIsNew">Is New?</label>
                        </div>

                        <div class="form-check mt-1">
                            <input id="checkboxIsFeatured" type="checkbox" class="form-check-input big-checkbox" {% if product.is_featured %}checked{% endif %}>
                            <label class="form-check-label m-2" for="checkboxIsFeatured">Is Featured?</label>
                        </div>

                        <div class="form-check mt-1">
                            <input id="checkboxIsBestSeller" type="checkbox" class="form-check-input big-checkbox" {% if product.is_bestseller %}checked{% endif %}>
                            <label class="form-check-label m-2" for="checkboxIsBestSeller">Is Best Seller?</label>
                        </div>

                        <div class="form-check mt-1">
                            <input id="checkboxIsOnSale" type="checkbox" class="form-check-input big-checkbox" {% if product.is_onsale %}checked{% endif %}>
                            <label class="form-check-label m-2" for="checkboxIsOnSale">Is On Sale?</label>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>

{% endblock %}


{% block admin_scripts %}

    <!-- Custom Script -->
    <script src="{% static 'js/app/products.js' %}"></script>

    <script>
        $(function () {

            $(".btnEditImage").on('click', function(e){
                e.preventDefault();
                let iid = $(this).attr('iid');
                $("#uploadImage_"+iid).trigger('click');
            });

            {% if not product %}
                let upload = new FileUploadWithPreview('divUploadID');
            {% endif %}

        });
    </script>

{% endblock %}


