{% load static %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Roberto Sabadiaz Jewelry">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title -->
    <title>{{ title }}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- CSS
	============================================ -->
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <!-- Pe-icon-7-stroke CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/pe-icon-7-stroke.css' %}">
    <!-- Font-awesome CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
    <!-- Alertify CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/alertify.min.css' %}">
    <!-- Slick slider css -->
    <link rel="stylesheet" href="{% static 'css/plugins/slick.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}">
    <!-- Nice Select css -->
    <link rel="stylesheet" href="{% static 'css/plugins/nice-select.css' %}">
    <!-- jquery UI css -->
    <link rel="stylesheet" href="{% static 'css/plugins/jqueryui.min.css' %}">
    <!-- main style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!-- Start Header Area -->
    <header class="header-area header-wide bg-gray">
        <!-- main header start -->
        <div class="main-header d-none d-lg-block">

            <!-- header middle area start -->
            <div class="header-main-area sticky">
                <div class="container">
                    <div class="row align-items-center position-relative">

                        <!-- start logo area -->
                        <div class="col-lg-2">
                            <div class="logo">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'img/logo/logo.png' %}" alt="brand logo">
                                </a>
                            </div>
                        </div>
                        <!-- start logo area -->

                        <!-- main menu area start -->
                        <div class="col-lg-6 position-static">
                            <div class="main-menu-area">
                                <div class="main-menu">
                                    <!-- main menu navbar start -->
                                    <nav class="desktop-menu">
                                        <ul>
                                            <li class="{% ifequal option 'index' %}active{% endifequal %}">
                                                <a href="{% url 'index' %}">Home</a>
                                            </li>
                                            <li class="{% ifequal option 'products' %}active{% endifequal %}">
                                                <a href="{% url 'products' %}">Our Products</a>
                                            </li>
                                            <li class="{% ifequal option 'about' %}active{% endifequal %}">
                                                <a href="{% url 'about' %}">About Us</a>
                                            </li>
                                            <li class="{% ifequal option 'contact' %}active{% endifequal %}">
                                                <a href="{% url 'contact' %}">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- main menu navbar end -->
                                </div>
                            </div>
                        </div>
                        <!-- main menu area end -->

                        <!-- mini cart area start -->
                        <div class="col-lg-4">
                            <div class="header-right d-flex align-items-center justify-content-xl-between justify-content-lg-end">
                                <div class="header-search-container">
                                    <button class="search-trigger d-xl-none d-lg-block"><i class="pe-7s-search"></i></button>
                                    <form class="header-search-box d-lg-none d-xl-block animated jackInTheBox">
                                        <input type="text" placeholder="Search entire store hire" class="header-search-field bg-white">
                                        <button class="header-search-btn"><i class="pe-7s-search"></i></button>
                                    </form>
                                </div>

                                <div class="header-top-settings">
                                    <ul class="nav align-items-center justify-content-end">
                                        <li class="language">
                                            <img src="{% static 'img/icon/en.png' %}" alt="flag"> English
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="dropdown-list">
                                                <li><a href="#"><img src="{% static 'img/icon/en.png' %}" alt="flag"> English</a></li>
                                                <li><a href="#"><img src="{% static 'img/icon/fr.png' %}" alt="flag"> Spanish</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="header-configure-area">
                                    <ul class="nav justify-content-end">
                                        {% if not user.is_anonymous %}
                                            <li>
                                                <a href="{% url 'wishlist' %}">
                                                    <i class="pe-7s-like"></i>
                                                    <div class="notification">0</div>
                                                </a>
                                            </li>
                                        {% endif %}

                                        <li class="user-hover">
                                            <a href="javascript:void(0);">
                                                <i class="pe-7s-user"></i>
                                            </a>
                                            <ul class="dropdown-list">
                                                {% if not user.is_anonymous %}
                                                    <li class="font-12 mb-3 text-center text-muted">
                                                        Welcome <p style="color: #7386d5">{{ user.first_name }}</p>
                                                    </li>
                                                    <li class="mobile-settings"></li>
                                                    <li>
                                                        <a href="{% url 'account' %}">My Account</a>
                                                    </li>
                                                    {% if user.is_superuser %}
                                                        <li>
                                                            <a href="{% url 'admin_website_company_data' %}">Administration</a>
                                                        </li>
                                                    {% endif %}
                                                    <li>
                                                        <a href="{% url 'logout' %}">Logout</a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="{% url 'login' %}"> Login</a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'register' %}"> Register</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- mini cart area end -->

                    </div>
                </div>
            </div>
            <!-- header middle area end -->
        </div>
        <!-- main header start -->

        <!-- mobile header start -->
        <div class="mobile-header d-lg-none d-md-block sticky">
            <!--mobile header top start -->
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="mobile-main-header">
                            <div class="mobile-logo">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'img/logo/logo.png' %}" alt="Brand Logo">
                                </a>
                            </div>
                            <div class="mobile-menu-toggler">
                                <button class="mobile-menu-btn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile header top start -->
        </div>
        <!-- mobile header end -->

        <!-- offcanvas mobile menu start -->
        <aside class="off-canvas-wrapper">
            <div class="off-canvas-overlay"></div>
            <div class="off-canvas-inner-content">
                <div class="btn-close-off-canvas">
                    <i class="pe-7s-close"></i>
                </div>

                <div class="off-canvas-inner">

                    {% if not user.is_anonymous %}
                        <p class="font-12 mb-3 text-dark">
                            Welcome <span style="color: #7386d5">{{ user.first_name }} {{ user.last_name }} </span>
                        </p>
                    {% endif %}

                    <!-- search box start -->
                    <div class="search-box-offcanvas">
                        <form>
                            <input type="text" placeholder="Search Here...">
                            <button class="search-btn"><i class="pe-7s-search"></i></button>
                        </form>
                    </div>
                    <!-- search box end -->

                    <!-- mobile menu start -->
                    <div class="mobile-navigation">

                        <!-- mobile menu navigation start -->
                        <nav>
                            <ul class="mobile-menu">
                                <li class="{% ifequal option 'index' %}active{% endifequal %}">
                                    <a href="{% url 'index' %}">Home</a>
                                </li>
                                <li class="{% ifequal option 'products' %}active{% endifequal %}">
                                    <a href="{% url 'products' %}">Our Products</a>
                                </li>
                                <li class="{% ifequal option 'about' %}active{% endifequal %}">
                                    <a href="{% url 'about' %}">About Us</a>
                                </li>
                                <li class="{% ifequal option 'contact' %}active{% endifequal %}">
                                    <a href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- mobile menu navigation end -->
                    </div>
                    <!-- mobile menu end -->

                    <div class="mobile-settings">
                        <ul class="nav">
                            {% if not user.is_anonymous %}
                                <li>
                                    <a href="{% url 'account' %}">My Account</a>
                                 </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'login' %}"> Login</a>
                                </li>
                                <li>
                                    <a href="{% url 'register' %}"> Register</a>
                                </li>
                                <li>
                                    <a href="{% url 'wishlist' %}"> Wishlist</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="mobile-settings">
                        <ul class="nav">
                            <li class="ver">
                                <div class="dropdown mobile-top-dropdown">
                                    <a href="#" class="dropdown-toggle" id="myaccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Language
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="language">
                                        <a href="#" class="dropdown-item">
                                            <img src="{% static 'img/icon/en.png' %}" alt="flag"> English
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <img src="{% static 'img/icon/fr.png' %}" alt="flag"> Spanish
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- offcanvas widget area start -->
                    <div class="offcanvas-widget-area">
                        <div class="off-canvas-contact-widget">
                            <ul>
                                <li><i class="fa fa-mobile"></i>
                                    <a href="#">0123456789</a>
                                </li>
                                <li><i class="fa fa-envelope-o"></i>
                                    <a href="#">info@yourdomain.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="off-canvas-social-widget">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                    <!-- offcanvas widget area end -->
                </div>
            </div>
        </aside>
        <!-- offcanvas mobile menu end -->
    </header>
    <!-- end Header Area -->

    <main>

        {% if option != 'index' %}
            <!-- breadcrumb area start -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-wrap">
                                <nav aria-label="breadcrumb">
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'index' %}">
                                                <i class="fa fa-home"></i>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            {{ current_page }}
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb area end -->
        {% endif %}

        <!-- main section -->
        {% block main %}{% endblock %}
        <!-- main section end -->
    </main>

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scroll to Top End -->

    <!-- Footer -->
    {% include 'site/includes/footer_section.html' %}
    <!-- footer area end -->

    <!-- Quick view modal start -->
    {% include 'site/includes/quickview_modal_component.html' %}
    <!-- Quick view modal end -->

    <!-- Loader -->
    <div id="divLoader">
        <img class="imageLoader" src="{% static 'img/loading.gif' %}" alt="Loading..." />
    </div>
    <!-- Loader end -->

    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <!-- Alertify JS -->
    <script src="{% static 'js/vendor/alertify.min.js' %}"></script>
    <!-- slick Slider JS -->
    <script src="{% static 'js/plugins/slick.min.js' %}"></script>
    <!-- Countdown JS -->
    <script src="{% static 'js/plugins/countdown.min.js' %}"></script>
    <!-- Nice Select JS -->
    <script src="{% static 'js/plugins/nice-select.min.js' %}"></script>
    <!-- jquery UI JS -->
    <script src="{% static 'js/plugins/jqueryui.min.js' %}"></script>
    <!-- Image zoom JS -->
    <script src="{% static 'js/plugins/image-zoom.min.js' %}"></script>
    <!-- Imagesloaded JS -->
    <script src="{% static 'js/plugins/imagesloaded.pkgd.min.js' %}"></script>
    <!-- Instagram feed JS -->
    <script src="{% static 'js/plugins/instagramfeed.min.js' %}"></script>
    <!-- mailchimp active js -->
    <script src="{% static 'js/plugins/ajaxchimp.js' %}"></script>
    <!-- contact form dynamic js -->
    <script src="{% static 'js/plugins/ajax-mail.js' %}"></script>
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfmCVTjRI007pC1Yk2o2d_EhgkjTsFVN8"></script>
    <!-- google map active js -->
    <script src="{% static 'js/plugins/google-map.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Customs JS -->
    {% block script %}{% endblock %}

    <script>
        $(function () {
            // hide loader once page is loaded
            setTimeout(function () {
                $('#divLoader').fadeOut(200);
            }, 500);
        })
    </script>

</body>

</html>