{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block main %}
    <main>

        <!-- Banner Sliders -->
        <section class="slider-area">
            <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
                {% for hs in home_sliders %}
                    <div class="hero-single-slide hero-overlay">
                        <div class="hero-slider-item bg-img" data-bg="{{ hs.get_image }}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="hero-slider-content slide-1">
                                            <h2 class="slide-title">{{ hs.text1 }}<span>{{ hs.text2 }}</span></h2>
                                            <h4 class="slide-desc">{{ hs.description }}</h4>
                                            <a href="{% url 'shop' %}" class="btn btn-hero">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- Banner Sliders end -->

        <!-- Our Products -->
        <section class="product-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2 class="title">Our Products</h2>
                            <p class="sub-title">Add our products to weekly lineup</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="product-container">
                            <div class="product-tab-menu">
                                <ul class="nav justify-content-center">
                                    {% for category in categories %}
                                        <li>
                                            <a href="#tab_{{ category.id }}" data-toggle="tab" {% if forloop.first %}class="active"{% endif %}>
                                                {{ category }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-content">
                                {% for category in categories %}
                                    <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="tab_{{ category.id }}">
                                        <div class="product-carousel-4 slick-row-10 slick-arrow-style">
                                            {% for product in category.get_my_first_products %}
                                                {% include 'site/includes/product_component1.html' %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Products end -->

        <!-- Banner Grid Categories -->
        <div class="banner-statistics-area">
            <div class="container">
                <div class="row row-20 mtn-20">
                    <div class="col-sm-6">
                        <figure class="banner-statistics mt-20">
                            <a href="javascript:void(0);">
                                <img src="{% static 'img/banner/img1-top.jpg' %}" alt="product banner">
                            </a>
                            <div class="banner-content text-right">
                                <h5 class="banner-text1">BEAUTIFUL</h5>
                                <h2 class="banner-text2">Wedding<span>Rings</span></h2>
                                <a href="{% url 'shop' %}" class="btn btn-text">Shop Now</a>
                            </div>
                        </figure>
                    </div>
                    <div class="col-sm-6">
                        <figure class="banner-statistics mt-20">
                            <a href="javascript:void(0);">
                                <img src="{% static 'img/banner/img2-top.jpg' %}" alt="product banner">
                            </a>
                            <div class="banner-content text-center">
                                <h5 class="banner-text1">EARRINGS</h5>
                                <h2 class="banner-text2">Tangerine Floral <span>Earring</span></h2>
                                <a href="{% url 'shop' %}" class="btn btn-text">Shop Now</a>
                            </div>
                        </figure>
                    </div>
                    <div class="col-sm-6">
                        <figure class="banner-statistics mt-20">
                            <a href="javascript:void(0);">
                                <img src="{% static 'img/banner/img3-top.jpg' %}" alt="product banner">
                            </a>
                            <div class="banner-content text-center">
                                <h5 class="banner-text1">NEW ARRIVALLS</h5>
                                <h2 class="banner-text2">Pearl<span>Necklaces</span></h2>
                                <a href="{% url 'shop' %}" class="btn btn-text">Shop Now</a>
                            </div>
                        </figure>
                    </div>
                    <div class="col-sm-6">
                        <figure class="banner-statistics mt-20">
                            <a href="javascript:void(0);">
                                <img src="{% static 'img/banner/img4-top.jpg' %}" alt="product banner">
                            </a>
                            <div class="banner-content text-right">
                                <h5 class="banner-text1">NEW DESIGN</h5>
                                <h2 class="banner-text2">Diamond<span>Jewelry</span></h2>
                                <a href="{% url 'shop' %}" class="btn btn-text">Shop Now</a>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Grid Categories end -->

        <!-- Featured Products -->
        <section class="feature-product section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2 class="title">Featured Products</h2>
                            <p class="sub-title">Add featured products to weekly lineup</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="product-carousel-4_2 slick-row-10 slick-arrow-style">
                            {% for product in featured_products %}
                                {% include 'site/includes/product_component1.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured Products end -->

        <!-- Testimonials -->
        <section class="testimonial-area section-padding bg-img" data-bg="{% static 'img/testimonial/testimonials-bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2 class="title">Testimonials</h2>
                            <p class="sub-title">What they say</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="testimonial-thumb-wrapper">
                            <div class="testimonial-thumb-carousel">
                                <div class="testimonial-thumb">
                                    <img src="{% static 'img/testimonial/testimonial-1.png' %}" alt="testimonial-thumb">
                                </div>
                                <div class="testimonial-thumb">
                                    <img src="{% static 'img/testimonial/testimonial-2.png' %}" alt="testimonial-thumb">
                                </div>
                                <div class="testimonial-thumb">
                                    <img src="{% static 'img/testimonial/testimonial-3.png' %}" alt="testimonial-thumb">
                                </div>
                                <div class="testimonial-thumb">
                                    <img src="{% static 'img/testimonial/testimonial-2.png' %}" alt="testimonial-thumb">
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-content-wrapper">
                            <div class="testimonial-content-carousel">
                                <div class="testimonial-content">
                                    <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                    <div class="ratings">
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <h5 class="testimonial-author">lindsy niloms</h5>
                                </div>
                                <div class="testimonial-content">
                                    <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                    <div class="ratings">
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <h5 class="testimonial-author">Daisy Millan</h5>
                                </div>
                                <div class="testimonial-content">
                                    <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                    <div class="ratings">
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <h5 class="testimonial-author">Anamika lusy</h5>
                                </div>
                                <div class="testimonial-content">
                                    <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                    <div class="ratings">
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <h5 class="testimonial-author">Maria Mora</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials end -->

        <!-- Group Products -->
        <section class="group-product-area section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="group-product-banner">
                            <figure class="banner-statistics">
                                <img src="{% static 'img/banner/img-bottom-banner.jpg' %}" alt="product banner">
                                <div class="banner-content banner-content_style3 text-center">
                                    <h6 class="banner-text1">BEAUTIFUL</h6>
                                    <h2 class="banner-text2">Wedding Rings</h2>
                                    <a href="{% url 'shop' %}" class="btn btn-text">Shop Now</a>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!-- BestSeller products -->
                    <div class="col-lg-3">
                        <div class="categories-group-wrapper">
                            <div class="section-title-append">
                                <h4>Best Seller Products</h4>
                                <div class="slick-append"></div>
                            </div>
                            <div class="group-list-item-wrapper">
                                <div class="group-list-carousel">
                                    {% for product in bestseller_products %}
                                        {% include 'site/includes/product_component2.html' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BestSeller products end -->

                    <!-- OnSale products -->
                    <div class="col-lg-3">
                        <div class="categories-group-wrapper">
                            <div class="section-title-append">
                                <h4>On-sale Products</h4>
                                <div class="slick-append"></div>
                            </div>
                            <div class="group-list-item-wrapper">
                                <div class="group-list-carousel">
                                    {% for product in onsale_products %}
                                        {% include 'site/includes/product_component2.html' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- OnSale products end -->
                </div>
            </div>
        </section>
        <!-- Group Products end -->

    </main>

{% endblock %}