{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block main %}

    <!-- login register wrapper start -->
    <div class="login-register-wrapper section-padding">
        <div class="container">
            <div class="member-area-from-wrap">
                <div class="row">
                    <!-- Login Content Start -->
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="login-reg-form-wrap">
                            <h5>Log In</h5>
                            <form>
                                <div class="single-input-item">
                                    <input id="inputLoginEmail" type="email" placeholder="{% trans 'Email' %}" required value="" />
                                </div>
                                <div class="single-input-item">
                                    <input id="inputLoginPassword" type="password" placeholder="{% trans 'Password' %}" required />
                                </div>
                                <div class="single-input-item">
                                    <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                        <div class="remember-meta">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="rememberMe">
                                                <label class="custom-control-label" for="rememberMe">
                                                    {% trans 'Remember Me' %}
                                                </label>
                                            </div>
                                        </div>
                                        <a href="#" class="forget-pwd">
                                            {% trans 'Forget Password' %}
                                        </a>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <a class="btn btn-sqr text-white" onclick="AUTHENTICATION.login('{% url 'login' %}');">
                                        {% trans 'Login' %}
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                    <!-- Login Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- login register wrapper end -->

{% endblock %}

{% block script %}
    <script src="{% static 'js/app/auth.js' %}"></script>
{% endblock %}