{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block main %}

    <!-- login register wrapper start -->
    <div class="login-register-wrapper section-padding">
        <div class="container">
            <div class="member-area-from-wrap">
                <div class="row">
                    <!-- Register Content Start -->
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="login-reg-form-wrap sign-up-form">
                            <h5>Register</h5>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input id="inputRegisterFirstName" type="text" placeholder="{% trans 'Firstname' %}" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input id="inputRegisterLastName" type="text" placeholder="{% trans 'Lastname' %}" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <input id="inputRegisterEmail" type="email" placeholder="{% trans 'Email' %}" required />
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input id="inputRegisterPassword1" type="password" placeholder="{% trans 'Password' %}" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input id="inputRegisterPassword2" type="password" placeholder="{% trans 'Confirm Password' %}" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <a class="btn btn-sqr text-white" onclick="AUTHENTICATION.register('{% url 'register' %}');">
                                        {% trans 'Register' %}
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                    <!-- Register Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- login register wrapper end -->

{% endblock %}

{% block script %}
    <script src="{% static 'js/app/auth.js' %}"></script>
    <script>
        $(function () {
            $(document).keypress(function(e) {
                if(e.which === 13) {
                    AUTHENTICATION.register();
                }
            });
        });
    </script>
{% endblock %}