{% load static %}
{% load i18n %}

<div class="banner-statistics-area">
    <div class="container">
        <div class="row row-20 mtn-20">
            <div class="col-sm-6">
                <figure class="banner-statistics mt-20">
                    <a href="javascript:void(0);">
                        <img src="{% static 'img/banner/img1-top.jpg' %}" alt="product banner">
                    </a>
                    <div class="banner-content text-right">
                        <h5 class="banner-text1">{% trans 'BEAUTIFUL' %}</h5>
                        <h2 class="banner-text2">{% trans 'Wedding' %}<span>{% trans 'Rings' %}</span></h2>
                        <a href="{% url 'products' %}" class="btn btn-text">
                            {% trans 'View More' %}
                        </a>
                    </div>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure class="banner-statistics mt-20">
                    <a href="javascript:void(0);">
                        <img src="{% static 'img/banner/img2-top.jpg' %}" alt="product banner">
                    </a>
                    <div class="banner-content text-center">
                        <h5 class="banner-text1">{% trans 'EARRINGS' %}</h5>
                        <h2 class="banner-text2">{% trans 'Tangerine Floral' %} <span>{% trans 'Earring' %}</span></h2>
                        <a href="{% url 'products' %}" class="btn btn-text">
                            {% trans 'View More' %}
                        </a>
                    </div>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure class="banner-statistics mt-20">
                    <a href="javascript:void(0);">
                        <img src="{% static 'img/banner/img3-top.jpg' %}" alt="product banner">
                    </a>
                    <div class="banner-content text-center">
                        <h5 class="banner-text1">{% trans 'NEW ARRIVALLS' %}</h5>
                        <h2 class="banner-text2">{% trans 'Pearl' %} <span> {% trans 'Necklaces' %}</span></h2>
                        <a href="{% url 'products' %}" class="btn btn-text">
                            {% trans 'View More' %}
                        </a>
                    </div>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure class="banner-statistics mt-20">
                    <a href="javascript:void(0);">
                        <img src="{% static 'img/banner/img4-top.jpg' %}" alt="product banner">
                    </a>
                    <div class="banner-content text-right">
                        <h5 class="banner-text1">{% trans 'NEW DESIGN' %}</h5>
                        <h2 class="banner-text2">{% trans 'Diamond' %} <span> {% trans 'Jewelry' %}</span></h2>
                        <a href="{% url 'products' %}" class="btn btn-text">
                            {% trans 'View More' %}
                        </a>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>