{% load static %}
{% load humanize %}
{% load i18n %}

<div class="product-list-item">
    <figure class="product-thumb">
        <a href="{% url 'product_details' product.id %}">
            <img class="pri-img" src="{{ product.get_image1 }}" alt="product_image1_{{ product.id }}">
            <img class="sec-img" src="{{ product.get_image2 }}" alt="product_image2_{{ product.id }}">
        </a>
        <div class="product-badge">
            {% if product.is_new %}
                <div class="product-label new">
                    <span>{% trans 'new' %}</span>
                </div>
            {% endif %}
            {% if product.p_discount %}
                <div class="product-label discount">
                    <span>{{ product.p_discount }}%</span>
                </div>
            {% endif %}
        </div>
        <div class="button-group">
            <a href="javascript:void(0);" class="btnWishList tl" pid="{{ product.id }}" title="{% trans 'Add to Wishlist' %}">
                <i class="pe-7s-like"></i>
            </a>
        </div>
    </figure>

    <div class="product-content-list">
        <div class="manufacturer-name">
            <a href="{% url 'product_details' product.id %}">
                {{ product.material }}
            </a>
        </div>
        <h5 class="product-name">
            <a href="{% url 'product_details' product.id %}">
                {{ product.title }}
            </a>
        </h5>
        <div class="price-box">
            <span class="price-regular">
                ${{ product.price|floatformat:2|intcomma }}
            </span>
            <span class="price-old">
                <del>${{ product.v_price|floatformat:2|intcomma }}</del>
            </span>
        </div>
        <p>{{ product.description }}</p>
    </div>
</div>