{% extends 'administration/base.html' %}
{% load static %}

{% block admin_content %}

    <!-- Heading -->
    <div class="row mt-3">
        <div class="col-10">
            <h4>Add Product</h4>
        </div>
        <div class="col-2 text-right text-muted color-purple font-14">
            <a href="{% url 'admin_products' %}">
                <i class="fa fa-chevron-left font-12"></i> Products
            </a>
        </div>
    </div>

    <div class="row">

        <!-- Left Side -->
        <div class="col-8">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <form class="font-14">
                        <div class="form-group">
                            <label for="inputTitle">Title</label>
                            <input type="text" class="form-control" id="inputTitle">
                        </div>
                        <div class="form-group">
                            <label for="textareaDescription">Description</label>
                            <textarea class="form-control" id="textareaDescription" style="resize: none"></textarea>
                        </div>
                    </form>

                    <div class="form-group">
                        <label class="font-14">Images</label>
                        <form id="formImages" enctype="multipart/form-data" style="border: 0.25rem dashed #A5A5C7; height: 250px;  margin: 5px" action="/{{ db_name }}/chargebacks/files/import_file_from_quickbooks" class="dropzone">
                            <div class="fallback">
                                <input name="file" type="file" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <a href="#" class="btn btn-outline-success btn-block btn-lg">
                        Confirm
                    </a>
                </div>
            </div>

        </div>

        <!-- Right Side -->
        <div class="col-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <form class="font-14">
                        <div class="form-group">
                            <label for="selectCategory">Category</label>
                            <select id="selectCategory" class="selectpicker show-tick form-control" data-style="btn-primary">
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="selectGender">Gender</label>
                            <select id="selectGender" class="selectpicker show-tick form-control" data-style="btn-primary">
                                {% for gender in genders %}
                                    <option value="{{ gender.0 }}">{{ gender.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card border-0 shadow mt-4">
                <div class="card-body">
                    <form class="font-14">
                        <div class="form-group">
                            <div class="row">
                                 <div class="col-6">
                                    <label for="inputPrice">Real Price</label>
                                    <input type="text" class="form-control" id="inputPrice" value="0.00">
                                 </div>
                                <div class="col-6">
                                    <label for="inputVPrice">Virtual Price</label>
                                    <input type="text" class="form-control" id="inputVPrice" value="0.00">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="inputStock">Stock</label>
                                    <input type="text" class="form-control" id="inputStock" value="0">
                                </div>
                                <div class="col-6">
                                    <label for="inputDiscount">% Discount</label>
                                    <input type="text" class="form-control" id="inputDiscount" value="0">
                                </div>
                            </div>
                        </div>

                         <div class="form-group">
                            <label for="textareaInformation">More Information about the product</label>
                            <textarea class="form-control" id="textareaInformation" style="resize: none" rows="3"></textarea>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input big-checkbox" id="checkboxIsNew" checked>
                            <label class="form-check-label m-2" for="checkboxIsNew">Is New? </label>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>


{% endblock %}

{% block admin_scripts %}
    <script>

        // Dropzone for Import 844 files
        Dropzone.options.formImages = {
            paramName: "file",      // The name that will be used to transfer the file
            maxFilesize: 2,         // MB
            acceptedFiles: '.jpg, .jpeg, .png',
            uploadMultiple: true,
            parallelUploads: 4,
            maxFiles: 4,
            init: function() {

             }
        };

        $(function () {

            $(".dz-message").html(
                "<div>" +
                    "<img src='{% static "img/upload_images.png" %}' width='80' />" +
                    "<p class='text-dark _600 font-14'>Upload images</p>" +
                    "<p class='text-muted font-12'>Drag and Drop or Click to upload images  (up to 4 files)</p>" +
                "</div>");
        });

    </script>
{% endblock %}
