{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title }}</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/administration.css' %}">
    <!-- Font-awesome CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/vendor/dataTables.bootstrap4.min.css' %}">

</head>

<body>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Admin Panel</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Products</p>
            <li>
                <a href="#" class="active">
                    <i class="fa fa-list-alt"></i> All Products
                </a>
                <a href="#">
                    <i class="fa fa-plus-circle"></i> Create Product
                </a>
            </li>
        </ul>

        <ul class="list-unstyled components">
            <p>Website</p>
            <li>
                <a href="#">
                    <i class="fa fa-th-large"></i> Header
                </a>
                <a href="#">
                    <i class="fa fa-align-justify"></i> Footer
                </a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="{% url 'index' %}">
                    <i class="fa fa-arrow-left"></i> Back to Website
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <div class="row">
            <div class="col">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h3 class="text-center">Products</h3>
                    <div class="card h-100 border-0 shadow">
                        <!--Table-->
                        <table id="example" class="table table-hover table-fixed">

                            <!--Table head-->
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Country</th>
                                <th>City</th>
                                <th>Position</th>
                                <th>Age</th>
                            </tr>
                            </thead>
                            <!--Table head-->

                            <!--Table body-->
                            <tbody>
                            <tr>
                                <th scope="row">4</th>
                                <td>Jerry</td>
                                <td>Horwitz</td>
                                <td>Italy</td>
                                <td>Bari</td>
                                <td>Editor-in-chief</td>
                                <td>41</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Janis</td>
                                <td>Joplin</td>
                                <td>Poland</td>
                                <td>Warsaw</td>
                                <td>Video Maker</td>
                                <td>39</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Gary</td>
                                <td>Winogrand</td>
                                <td>Germany</td>
                                <td>Berlin</td>
                                <td>Photographer</td>
                                <td>37</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Angie</td>
                                <td>Smith</td>
                                <td>USA</td>
                                <td>San Francisco</td>
                                <td>Teacher</td>
                                <td>52</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>John</td>
                                <td>Mattis</td>
                                <td>France</td>
                                <td>Paris</td>
                                <td>Actor</td>
                                <td>28</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>Otto</td>
                                <td>Morris</td>
                                <td>Germany</td>
                                <td>Munich</td>
                                <td>Singer</td>
                                <td>35</td>
                            </tr>
                            </tbody>
                            <!--Table body-->

                        </table>
                        <!--Table-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
<!-- Popper.JS -->
<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'js/vendor/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/dataTables.bootstrap4.min.js' %}"></script>

<script type="text/javascript">

    $(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });

        $('#example').DataTable();

    });
</script>
</body>

</html>