{% extends 'administration/base.html' %}
{% load static %}

{% block admin_content %}

    <!-- Heading -->
    <div class="row">
        <div class="col-10">
            <h3 class="text-center">
                All Products
            </h3>
        </div>
        <div class="col-2 text-right">
            <a href="#" class="btn btn-sm btn-success">
                <i class="fa fa-plus"></i> Add product
            </a>
        </div>
    </div>

    <!-- Table with Products -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <!-- Search input -->
                    <input type="search" class="form-control" id="inputFilterBox" placeholder="">

                    <!--Table-->
                    <div class="table-responsive mt-1">
                        <table class="table filterable table-fixed">

                            <!--Table head-->
                            <thead class="thead-purple font-14">
                            <tr>
                                <th class="p-3" colspan="2" >Product</th>
                                <th class="text-center w-100px">Category</th>
                                <th class="text-center w-100px">Gender</th>
                                <th class="text-center w-100px">Stock</th>
                                <th class="text-center w-100px">Price</th>
                                <th class="text-center w-100px">VPrice</th>
                                <th class="text-center w-80px">IsNew?</th>
                                <th class="text-center w-120px"></th>
                            </tr>
                            </thead>
                            <!--Table head-->

                            <!--Table body-->
                            <tbody>
                            {% for l in lista %}
                            <tr class="font-14">
                                <td class="w-80px">
                                    <a href="{% static 'img/product/product-1.jpg' %}" data-lightbox="photos">
                                        <img class="img-fluid" src="{% static 'img/product/product-1.jpg' %}" style="width: 100%">
                                    </a>
                                    <a href="{% static 'img/product/product-1.jpg' %}" data-lightbox="photos" style="display: none">
                                        <img class="img-fluid" src="{% static 'img/product/product-1.jpg' %}">
                                    </a>
                                </td>
                                <td>
                                    <p class="font-15 text-dark _600">Anillo de Perla</p>
                                    <p class="font-12 text-muted" style="line-height: 0">asmkld als nwn kefnkwnkew</p>
                                </td>
                                <td class="text-center">Manilla</td>
                                <td class="text-center">Men</td>
                                <td class="text-center">2</td>
                                <td class="text-center">$400.00</td>
                                <td class="text-center">$520.00</td>
                                <td class="text-center">
                                    <i class="fa fa-check text-success"></i>
                                </td>
                                <td class="text-center">
                                    <a href="" class="btn btn-outline-primary btn-sm tt" title="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="" class="btn btn-outline-danger btn-sm tt ml-1" title="Remove">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    </div>
                    <!-- div table-responsive -->
                </div>
                <!--/card-body-->
            </div>
            <!-- /form card login -->

            <div class="card h-auto border-0 shadow">

            </div>
            <!-- Card -->

        </div>
    </div>

    <!-- Pagination -->
    <div class='row'>
        <div class="col-12 text-center mt-2">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        {#                {% if paging.num_pages > 20 %}#}
        {#                    <div class='pagination'>#}
        {#                        <ul>#}
        {#                            {% if paging.primera_pagina %}#}
        {#                                <li><a href="{% url 'productos' %}?page=1{% if t %}&t={{ tipo_id }}{% endif%}{% if categoria_id %}&c={{ categoria_id }}{% endif %}{% if proveedor_id %}&p={{ proveedor_id }}{% endif %}{% if codigo %}&co={{ codigo }}{% endif %}{% if descripcion %}&d={{ descripcion }}{% endif %}{% if ubicacion %}&u={{ ubicacion }}{% endif %}">1</a></li>#}
        {#                                <li><a href="{% url 'productos' %}?page={{ paging.ellipsis_izquierda }}{% if t %}&t={{ tipo_id }}{% endif%}{% if categoria_id %}&c={{ categoria_id }}{% endif %}{% if proveedor_id %}&p={{ proveedor_id }}{% endif %}{% if codigo %}&co={{ codigo }}{% endif %}{% if descripcion %}&d={{ descripcion }}{% endif %}{% if ubicacion %}&u={{ ubicacion }}{% endif %}" class="active">...</a></li>#}
        {#                            {% endif %}#}
        {#                            {% for pagenumber in paging.paginas %}#}
        {#                                <li {% ifequal pagenumber page.number %}class='active'{% endifequal %}><a href="{% url 'productos' %}?page={{ pagenumber }}{% if t %}&t={{ tipo_id }}{% endif%}{% if categoria_id %}&c={{ categoria_id }}{% endif %}{% if proveedor_id %}&p={{ proveedor_id }}{% endif %}{% if codigo %}&co={{ codigo }}{% endif %}{% if descripcion %}&d={{ descripcion }}{% endif %}{% if ubicacion %}&u={{ ubicacion }}{% endif %}">{{ pagenumber }}</a></li>#}
        {#                            {% endfor %}#}
        {#                            {% if paging.ultima_pagina %}#}
        {#                                <li><a href="{% url 'productos' %}?page={{ paging.ellipsis_derecha }}{% if t %}&t={{ tipo_id }}{% endif%}{% if categoria_id %}&c={{ categoria_id }}{% endif %}{% if proveedor_id %}&p={{ proveedor_id }}{% endif %}{% if codigo %}&co={{ codigo }}{% endif %}{% if descripcion %}&d={{ descripcion }}{% endif %}{% if ubicacion %}&u={{ ubicacion }}{% endif %}" class="active">...</a></li>#}
        {#                                <li><a href="{% url 'productos' %}?page={{ paging.num_pages }}{% if t %}&t={{ tipo_id }}{% endif%}{% if categoria_id %}&c={{ categoria_id }}{% endif %}{% if proveedor_id %}&p={{ proveedor_id }}{% endif %}{% if codigo %}&co={{ codigo }}{% endif %}{% if descripcion %}&d={{ descripcion }}{% endif %}{% if ubicacion %}&u={{ ubicacion }}{% endif %}">{{ paging.num_pages }}</a></li>#}
        {#                            {% endif %}#}
        {#                        </ul>#}
        {#                    </div>#}
        {#                {% else %}#}
        {#                    <div class='pagination'>#}
        {#                        <ul>#}
        {#                            {% for pagenumber in paging.page_range %}#}
        {#                                <li {% ifequal pagenumber page.number %}class='active'{% endifequal %}><a href="{% url 'productos' %}?page={{ pagenumber }}{% if t %}&t={{ tipo_id }}{% endif%}{% if categoria_id %}&c={{ categoria_id }}{% endif %}{% if proveedor_id %}&p={{ proveedor_id }}{% endif %}{% if codigo %}&co={{ codigo }}{% endif %}{% if descripcion %}&d={{ descripcion }}{% endif %}{% if ubicacion %}&u={{ ubicacion }}{% endif %}">{{ pagenumber }}</a></li>#}
        {#                            {% endfor %}#}
        {#                        </ul>#}
        {#                    </div>#}
        {#                {% endif %}#}
    </div>

{% endblock %}