{% extends 'administration/base.html' %}
{% load static %}
{% load humanize %}

{% block admin_content %}

    <!-- Heading -->
    <div class="row">
        <div class="col-10">
            <h3 class="text-center">
                Slides
            </h3>
        </div>
        <div class="col-2 text-right text-white font-14">
            <a href="javascript:void(0);" onclick="SLIDES.submit($(this))" class="btn btn-success text-center">
                Save
            </a>
        </div>
    </div>

    <form enctype="multipart/form-data" autocomplete="off">
        {% for slide in slides %}
            <div class="row my-3">
                <div class="col-12">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="inputHomeSliderText1EN_{{ forloop.counter }}" class="font-12 _600">Text 1 (EN)</label>
                                        <input  id="inputHomeSliderText1EN_{{ forloop.counter }}" type="text" class="form-control font-12" value="{{ slide.text1_en }}">
                                    </div>
                                    <div class="col-3">
                                        <label for="inputHomeSliderText2EN_{{ forloop.counter }}" class="font-12 _600">Text 2 (EN)</label>
                                        <input id="inputHomeSliderText2EN_{{ forloop.counter }}" type="text" class="form-control font-12" value="{{ slide.text2_en }}">
                                    </div>
                                    <div class="col-6">
                                        <label for="inputHomeSliderDescriptionEN_{{ forloop.counter }}" class="font-12 _600">Description (EN)</label>
                                        <input id="inputHomeSliderDescriptionEN_{{ forloop.counter }}" type="text" class="form-control font-12" value="{{ slide.description_en }}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="inputHomeSliderText1ES_{{ forloop.counter }}" class="font-12 _600">Text 1 (ES)</label>
                                        <input  id="inputHomeSliderText1ES_{{ forloop.counter }}" type="text" class="form-control font-12" value="{{ slide.text1_es }}">
                                    </div>
                                    <div class="col-3">
                                        <label for="inputHomeSliderText2ES_{{ forloop.counter }}" class="font-12 _600">Text 2 (ES)</label>
                                        <input id="inputHomeSliderText2ES_{{ forloop.counter }}" type="text" class="form-control font-12" value="{{ slide.text2_es }}">
                                    </div>
                                    <div class="col-6">
                                        <label for="inputHomeSliderDescriptionES_{{ forloop.counter }}" class="font-12 _600">Description (ES)</label>
                                        <input id="inputHomeSliderDescriptionES_{{ forloop.counter }}" type="text" class="form-control font-12" value="{{ slide.description_es }}">
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="collapse" href="#collapseImage_{{ slide.id }}" class="font-12" style="color: cornflowerblue">
                                <i class="fa fa-image"></i> Show Image
                            </a>
                            <div class="collapse" id="collapseImage_{{ slide.id }}">
                                <a href="javascript:void(0);" class="btnHomeSlideEditImages" hsid="{{ slide.id }}">
                                    <img src="{{ slide.get_image }}" alt="slider{{ slide.id }}_image" style="width: 100%; height: 600px!important;"/>
                                </a>
                                <input id="inputHomeSlideUploadImage_{{ slide.id }}" onchange="SLIDES.update_image('{{ slide.id }}');" type="file" style="display: none"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </form>

{% endblock %}

{% block admin_scripts %}

    <!-- Custom Script -->
    <script src="{% static 'js/app/slides.js' %}"></script>

    <script>
        $(function () {

            $(".btnHomeSlideEditImages").on('click', function(e){
                e.preventDefault();
                let hsid = $(this).attr('hsid');
                $("#inputHomeSlideUploadImage_"+hsid).trigger('click');
            });

        });
    </script>

{% endblock %}
